<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Packages</title>
</head>

<body>
    <h1>Packages</h1>
    <ul id="nameList">
        {{each data}}
        <li>
            <a href='/detail/{{$value}}'>
                {{$value}}
            </a>
        </li>
        {{/each}}
    </ul>
</body>

</html>